{{> header }}

<div class="container">
    <h1>Our Products</h1>
    <div class="row">
        <form class="col s12" method="GET" action="/l/">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">search</i>
                    <input id="search" class="" name="search" type="text" value="{{search}}"
                        placeholder="Search your products" />
                </div>
                <div class="input-field col s6">
                    <button type="submit" class="waves-effect waves-light btn orange">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">

        {{#each products}}
        <div class="col s12 m4 l3">
            <div class="card medium">
                <a href="/d/product/{{this.id}}" class="card-image" style="max-height: 50%; display:block;">
                    <img src="{{this.imageUrl}}" />
                </a>
                <a href="/d/product/{{this.id}}" class="card-content" style="display:block;">
                    <span class="card-title grey-text text-darken-3" style="font-size: 21px;">{{this.name}}</span>
                    <p class="grey-text text-darken-3">CHF {{this.price}}</p><br>
                </a>
                <div class="card-action">
                    <c-add-to-cart-button product-id="{{this.id}}"></c-add-to-cart-button>
                </div>
            </div>
        </div>
        {{else}}
        <h3>No Results</h3>
        <img src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F05f43d38-e7c1-11e5-b34f-8cb8b003b8aa.jpg?crop=1429%2C804%2C45%2C12&resize=400"
            alt="no-data" style="width: 400px;">
        {{/each}}
    </div>
</div>

{{> footer }}